name: CI

on:
  pull_request:
  push:
  schedule:
    # Run every Sunday at 06:53 UTC
    - cron: 53 6 * * 0
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      envs: |
        - linux: codestyle
        - windows: py39-test-pytestoldest
        - linux: py39-test-pytest53
        - macos: py39-test-pytest60
        - windows: py39-test-pytest61
        - linux: py310-test-pytest62
        - macos: py310-test-pytest70
        - windows: py310-test-pytest71
        - linux: py311-test-pytest72
        - macos: py311-test-pytest73
        - windows: py312-test-pytest74
        - linux: py313-test-pytest83
        - linux: py313-test-pytest90
        - linux: py313-test-devdeps
  publish:
    needs: tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      test_extras: test
      test_command: pytest $GITHUB_WORKSPACE/tests; pytest --arraydiff $GITHUB_WORKSPACE/tests
      python-version: '3.9'
    secrets:
      pypi_token: ${{ secrets.pypi_password }}
